@font-face {
    src: url(allfonts/NuosuSIL-Regular.ttf);
    font-family: NOSIL;
}
@font-face {
    src: url(allfonts/Aclonica-Regular.ttf);
    font-family: ACLONICA;
}
@font-face {
    src: url(allfonts/Sacramento-Regular.ttf);
    font-family: SACRAMENTO;
}
@font-face {
    src: url(allfonts/Shrikhand-Regular.ttf);
    font-family: SHRIKHAND;
}
@font-face {
    src: url(allfonts/WaterBrush-Regular.ttf);
    font-family: WATERBRUSH;
}
@font-face {
    src: url(allfonts/Audiowide-Regular.ttf);
    font-family: AUDIOWIDE;
}
@font-face {
    src: url(allfonts/BlackOpsOne-Regular.ttf);
    font-family: BLACKOPS1;
}
@font-face {
    src: url(allfonts/Damion-Regular.ttf);
    font-family: DAMION;
}
@font-face{
    src: url(allfonts/FugazOne-Regular.ttf);
    font-family: FUGAZ1;
}
@font-face{
  src: url(allfonts/Monoton-Regular.ttf);
  font-family: MONOTON;
}

body {
  background-color: #eee;
}

h1 {
  font-size: 50px;
  font-style: italic;
  font-weight: 200;
  font-family: ACLONICA;
  width: 1000px;
  margin: 0 auto;
}


p{
  width: 1000px;
  margin: 0 auto;
  font-size: 39px
}


* {
  margin: 0;
  padding: 0;
}

.vedio {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.vedio iframe {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
}


.wrapper {
  margin: 0 auto;
  width: 1000px;
}
.img-eye {
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 200%;
  background-image: url(images/1.png);
  margin: 0 auto;
  background-position: center right;
}
.img-eye:hover {
  background-size: 100%;
}

ul {
  margin-left: 0;
}
ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}
ul li a {
  text-decoration: none;
  color: #1e1e1e;
  font-family: DAMION;
  font-size: 14px;
  padding: 0 20px;
  display: block;
}
ul li a:hover{
  color: red;
  font-family: NOSIL;
  font-size: 36px;
  background-color: lightblue;
}
